body {
    background-image: url(./images/울릉도\ 촛대바위.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.메인로고 > img{
    display: block; margin: 0px auto;
}

#menuicon{
    display: none;
    float: left;
}

#menuicon + label{
    display: block;
    width: 60px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

#menuicon + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #000;
    transition: all, 1s;
}

#menuicon + label span:nth-child(1){
    top: 0;
}

#menuicon + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

#menuicon + label span:nth-child(3){
    bottom: 0;
}

#menuicon:checked + label{
    z-index: 2;
}

#menuicon:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

#menuicon:checked + label span:nth-child(2){
    opacity: 0;
}

#menuicon:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.sidebar{
    width: 300px;
    height: 100%;
    background-color: rgba(121, 163, 187, 0.534);
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    transition: all, 1s;
}

#menuicon:checked + label + .sidebar{
    left: 0;
}

.loginbar{
    display: inline-block;
    float: right;
}

.경상남도지도 > img{
    margin: 5px 5px 10px 5px;
    width: 1200px;
    height: auto;
    display: block;
    object-fit: cover;
}

.경상남도지도 > button{
    font-size: 40px;
    height: 90px;
    cursor: pointer;
    position: absolute;
    z-index: 100; 
    opacity: 0;
    overflow: hidden;
}

.경상남도지도 > button span{display: block; position: absolute; background: #000; transition: all .3s; z-index: 2;}

.경상남도지도 > button span:nth-child(1){top: 0; height: 5px; width: 0;}
.경상남도지도 > button span:nth-child(2){top: 0; right: 0; height: 0; width: 5px;}
.경상남도지도 > button span:nth-child(3){bottom: 0; right: 0; height: 5px; width: 0;}
.경상남도지도 > button span:nth-child(4){bottom: 0; left: 0; height: 0; width: 5px;}

.경상남도지도 > button:hover {
    background-color: rgb(240, 192, 119);
    color: #000;
    border: none;
    opacity: 0.5;
}

.경상남도지도 > button:hover span:nth-child(1){width: 100%;}
.경상남도지도 > button:hover span:nth-child(2){height: 100%;}
.경상남도지도 > button:hover span:nth-child(3){width: 100%;}
.경상남도지도 > button:hover span:nth-child(4){height: 100%;}

#거창{top: 135px; left: 390px;}
#함양{top: 250px; left: 280px;}
#산청{top: 350px; left: 390px;}
#하동{top: 520px; left: 330px;}
#사천{top: 540px; left: 440px;}
#남해{top: 700px; left: 400px;}
#고성{top: 540px; left: 550px;}
#통영{top: 630px; left: 620px;}
#거제{top: 650px; left: 720px;}
#진주{top: 440px; left: 490px;}
#합천{top: 280px; left: 470px;}
#의령{top: 330px; left: 550px;}
#창녕{top: 280px; left: 670px;}
#밀양{top: 260px; left: 800px;}
#함안{top: 370px; left: 650px;}
#창원{top: 430px; left: 730px;}
#김해{top: 420px; left: 830px;}
#양산{top: 340px; left: 920px;}

.label_content{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}
.label_content input {}
.label_content input + label {}
.label_content input + label + div {
    text-align: center;
    display: none;
    width: 300px;
    height: 300px;
    background: #ffcb91;
    border: 10px solid #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.label_content input:checked + label + div {display: block;}
.label_content input + label + div label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #333;
    color: #fff;
    padding: 20px;
}

.footer{
    background-color: gray;
    height: auto;
    justify-content: center;
    padding: 40px;
    color: #fff;
    text-align: center;
    width: auto;
    position: relative;
    bottom: 0px;
}

.footer > p {
    background-color: gray;
}

.footer > p > a{
    background-color: gray;
    color: #fff;
}

